<div class="form-inline">
  <p style="border: 2px solid blue; padding: 5px; width: 350px; margin-left: 20px; margin-right: 20px">{{ film.name }}</p>
<img alt="#" src="https://www.pngrepo.com/png/79440/512/delete-button.png" style="height: 25px; margin-bottom: 15px; cursor: pointer" (click)="onDelete()"/>
</div>
