<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">
<app-film-item
  *ngFor="let film of films"
  [film]="film"
></app-film-item>
</ng-container>
