<div class="frame">
  <form class="form-inline mt-4" (ngSubmit)="addFilmToList()">
    <div class="form-group mx-sm-3 mb-2">
      <label for="name" class="sr-only">Film name</label>
      <input type="text" class="form-control px-xl-5" id="name" name="name" placeholder="Film name" [(ngModel)]="name"/>
    </div>
    <button type="submit" class="btn btn-primary mb-2">
      <span *ngIf="!isUpLoading">
          Add
        </span>
      <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
    </button>
  </form>
  <hr>
  <h3 class="ml-3">To watch list:</h3>
  <app-films></app-films>
</div>
